{% include 'frontend/tpl/blocks/ngwidgetfullanimalform.html' %}
{% include 'frontend/tpl/blocks/ngwidgetshortanimalform.html' %}
{% include 'frontend/tpl/blocks/ngwidgetshortanimal.html' %}
{% include 'frontend/tpl/blocks/nganimalpopup.html' %}
{% include 'frontend/tpl/blocks/include_animalform.html' %}
{% include 'frontend/tpl/blocks/tpl_ngdocpreviewcontrols.html' %}
{% include 'frontend/tpl/blocks/tpl_ngdocpreviewdestlayer.html' %}
{% include 'frontend/tpl/blocks/tpl_ngdocpreviewlayeritem.html' %}
{% include 'frontend/tpl/blocks/popup_animalcreateform_warnings.html' %}