{% extends 'frontend/base.html' %}{% load pagination_tags %}

{% block content %}
    <h3></h3>

    {% include 'frontend/includes/peoples_tabs.html' %}

    <br>
        <a href="{% url 'core_kennel_create' %}" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon glyphicon-plus"></span>
            Добавить заводчика
        </a>
    <br>

    {% autopaginate object_list 50 %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Название</th>
            <th>Заводчик</th>
            <th>Адрес</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'core_kennel_edit' pk=object.pk %}">{{ object.name }}</a>
                </td>
                <td>
                    {{ object.breeder }}
                </td>
                <td>{{ object.address }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}
{% endblock %}