{% extends 'frontend/base.html' %}{% load bootstrap3 %}

{% block content %}
    <h3></h3>

    <div class="row">
        <div class="col-sm-8">
            {% if object %}
                <h4>Редактирование владельца "{{ object }}"</h4>
            {% else %}
                <h4>Создание владельца</h4>
            {% endif %}
        </div>
        <div class="col-sm-4" style="text-align: right;">
            <a href="{% url 'core_owners_list' %}">Назад</a>
        </div>
    </div>

    <form action="#" method="post" class="form">
        {% csrf_token %}

        <div class="row">
            <div class="col-sm-5">
                {% bootstrap_field form.name %}
                {% bootstrap_field form.address %}
                {% bootstrap_field form.phone %}
                {% bootstrap_field form.email %}
                {% bootstrap_field form.work %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">{% if object %}Сохранить{% else %}Создать{% endif %}</button>
                {% endbuttons %}
            </div>
            <div class="col-sm-7"></div>
        </div>
    </form>

    {% if object %}
        {% with object.animalowner_set.all as animalowners %}
            {% if animalowners %}
            <hr>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Порода</th>
                        <th style="width: 50px;">Пол</th>
                        <th>Номер родословной</th>
                    </tr>
                </thead>
                <tbody>
                {% for animalowner in animalowners %}
                    <tr>
                        <td class="animal-list-name"><a href="{% url 'core_animals_edit' pk=animalowner.animal.pk %}">{{ animalowner.animal.get_display }}</a></td>
                        <td class="animal-list-breed">{{ animalowner.animal.breed }}</td>
                        <td class="animal-list-gender">{{ animalowner.animal.get_gender_display }}</td>
                        <td class="animal-list-pedigree">
                            {% if animalowner.animal.get_pedigree_numbers %}
                                {% for pedigree_number in animalowner.animal.get_pedigree_numbers %}
                                    <div>{{ pedigree_number.number }}</div>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        {% endwith %}
    {% endif %}
    <br>
    <br>
    <br>

{% endblock %}