{% extends 'frontend/base.html' %}{% load pagination_tags %}

{% block content %}
    <h3></h3>

    {% include 'frontend/includes/peoples_tabs.html' %}

    <br>
        <div class="row">
            <div class="col-md-9">
                <a href="{% url 'core_owner_create' %}" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon glyphicon-plus"></span>
                    Добавить владельца
                </a>
            </div>
            <div class="col-md-3">
                <form class="input-group input-group-sm ng-pristine ng-valid" method="GET" action="#">
                    <input type="text" name="search" class="form-control" placeholder="Поиск"{% if request.GET.search %} value="{{ request.GET.search }}"{% endif %}>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </form>
            </div>
        </div>
    <br>

    {% autopaginate object_list 50 %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th>E-mail</th>
            <th>Адрес</th>
            <th>Место работы</th>
            <th>Кол-во собак</th>
            <th style="width: 14px;">
                <span class="glyphicon glyphicon-trash"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'core_owner_edit' pk=object.pk %}">{{ object.name }}</a>
                </td>
                <td>
                    {{ object.phone }}
                </td>
                <td>
                    {{ object.email }}
                </td>
                <td>{{ object.address }}</td>
                <td>{{ object.work }}</td>
                <td>{{ object.animalowner_set.count }}</td>
                <td>
                    <a href="{% url 'core_owner_delete' pk=object.pk %}" class="text-danger" title="Удалить">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}
{% endblock %}