{% extends 'frontend/base.html' %}
{% block content %}
    <h3></h3>

    <div class="row">
        <div class="col-sm-8">
            <h4>
                {% if request.GET.add_list == 'yes' %}
                    Дополнительный
                {% else %}
                    Основной
                {% endif %}
                каталог группы выставок № {{ object.showgroup.pk }}
            </h4>
        </div>
        <div class="col-sm-4" style="text-align: right;">
            <a href="{% url 'core_show_catalogs_list' %}">Назад</a>
        </div>
    </div>

    {% if showitems %}
        <div class="row">
            <div class="col-sm-12">
                <div style="margin-bottom: 12px;">
                    <div><strong>Предпросмотр:</strong></div>
                    <div style="margin-bottom: 4px; margin-top: 3px;">
                        <a class="btn btn-info btn-xs" href="{% url 'core_export_catalog_html' pk=object.pk %}?add_list={{ request.GET.add_list }}" target="_blank"><span class="glyphicon glyphicon-download"></span> Предварительный просмотр</a>
                    </div>
                </div>
                <div style="margin-bottom: 12px;">
                    <div><strong>Скачать PDF:</strong></div>
                    <div style="font-size: 13px;">Страницы:</div>
                    <div style="margin-bottom: 6px;">
                        <a class="btn btn-info btn-xs" href="{% url 'core_export_catalog_pdf' pk=object.pk %}?psize=A4&add_list={{ request.GET.add_list }}"><span class="glyphicon glyphicon-download"></span> A4</a>
                        <a class="btn btn-info btn-xs" href="{% url 'core_export_catalog_pdf' pk=object.pk %}?add_list={{ request.GET.add_list }}"><span class="glyphicon glyphicon-download"></span> A5</a>
                    </div>
                    <div style="font-size: 13px;">Брошюра:</div>
                    <div style="margin-bottom: 6px;">
                        <a class="btn btn-info btn-xs" href="{% url 'core_export_catalog_pdf' pk=object.pk %}?mode=book&add_list={{ request.GET.add_list }}"><span class="glyphicon glyphicon-download"></span> A4</a>
                        <a class="btn btn-warning btn-xs" href="{% url 'core_export_catalog_pdf' pk=object.pk %}?mode=book&pside=e&add_list={{ request.GET.add_list }}"><span class="glyphicon glyphicon-download"></span> A4, четные листы</a>
                        <a class="btn btn-warning btn-xs" href="{% url 'core_export_catalog_pdf' pk=object.pk %}?mode=book&pside=o&add_list={{ request.GET.add_list }}"><span class="glyphicon glyphicon-download"></span> A4, нечетные листы</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{#    <hr>#}
{##}
{#    <a href="{% url 'core_show_catalogs_add_showitem' pk=object.pk %}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon glyphicon-plus"></span> Добавить выставку</a>#}
{##}
{#    <table class="table table-condensed">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>Название</th>#}
{#                <th>Дата</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for showitem in showitems %}#}
{#            <tr>#}
{#                <td>{{ showitem.show.title }}</td>#}
{#                <td>{{ showitem.show.date }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

{% endblock %}