{% extends 'frontend/base.html' %}{% load pagination_tags %}

{% block content %}
    <h3></h3>

    <div class="row">
        <div class="col-sm-8">
            <h4>Выставки</h4>
        </div>
        <div class="col-sm-4" style="text-align: right;">
            <a href="{% url 'core_show_add' group=group.pk %}"
               class="btn btn-sm btn-success"><span class="glyphicon glyphicon glyphicon-plus"></span> Добавить</a>
        </div>
    </div>

    {% autopaginate object_list 10 %}

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Выставка</th>
                <th style="width: 140px;">Дата</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{% url 'core_show_edit' group=group.pk pk=object.pk %}">{{ object.title }}</a>
                </td>
                <td>{{ object.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}
{% endblock %}